version: '3'
services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongodb-data:/data/db

  dlt-adapter:
    build:
      context: . 
      dockerfile: Dockerfile
    container_name: dlt-adapter 
    ports:
      - "8080:8080"
    depends_on:
      - mongodb
volumes:
  mongodb-data: